//== Media queries breakpoints
$screen-xs:                  320px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

$screen-sm:                  639px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

$screen-smd:                 640px !default;
$screen-smd-max:             $screen-smd !default;
$screen-tablet:              $screen-smd-min !default;

$screen-md:                  999px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$screen-ml:                  1000px !default;/* 940 */
$screen-ml-min:              $screen-ml !default;
$screen-desktop:             $screen-ml-min !default;

$screen-lg:                  1450px !default;/* 1040 */
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
