@mixin center ($width: 990px , $margin: 0 auto){
    width: $width;
    margin: $margin;

}

@mixin clear {
    zoom: 1;
    &:after {
        content: '';
        display: block;
        clear: both; }
}

@mixin absolute ($position: absolute , $top: 0 ){
    position: $position;
    top: $top;
}

@mixin relative {
    position:relative;
}
