@charset "UTF-8";

html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  width: 652px;
  margin: 0 auto;
  position: relative;
}
.start {
  position: absolute;
  top: 150px;
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 4px;
}
.start:hover {
  cursor: pointer;
}
.start:hover {
  cursor: pointer;
}
.points {
  position: absolute;
  top: 110px;
  right: 0;
  font-size: 20px;
}
.point_frame {
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  margin-bottom: -3px;
}
.point {
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  bottom: 0;
}
.parent {
  width: 169px;
  height: 201px;
  margin: 0 auto;
  padding-top: 50px;
}
.str {
  width: 180px;
  height: 38px;
  margin: 25px auto;
}
.str p {
  text-align: center;
  font-size: 25px;
}
.child {
  width: 652px;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 0;
  zoom: 1;
}
.child:after {
  content: "";
  clear: both;
  display: block;
}
.child_item {
  width: 184px;
  height: 199px;
  float: left;
  margin-right: 50px;
  list-style-type: none;
}
.child_item img {
  border: 2px solid white;
}
.child_item img:hover {
  cursor: pointer;
}
.child_item:last-child {
  margin-right: 0px;
}
#child_item-border {
  border: 2px solid red;
}
.child li:nth-child(1) img {
  padding: 13px 5.5px;
}
.child li:nth-child(2) img {
  padding: 0 7px;
}
.child li:nth-child(3) img {
  padding: 7.5px 0;
}
/*!@import 'header';
@import 'footer';

@import 'top-main';
@import 'top-lead';
@import 'top-cross-talk';
@import 'top-project';
@import 'top-member';
@import 'top-system';
@import 'top-recruit';

@import 'page-common';
@import 'page-system';
@import 'page-member';
@import 'page-project';
@import 'page-crosstalk';
@import 'page-ourbusiness';
@import 'member-list';*/
