@charset "utf-8";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.square_random {
  position: relative;
}
li {
  position: absolute;
  border: 1px solid #000;
  list-style-type: none;
}
