@charset "UTF-8";

html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
}
ul {
  height: 100%;
  margin: 0;
  padding: 0;
}
li {
  border-radius: 50%;
  position: absolute;
  display: block;
  background-color: #000;
 }

/*!@import 'header';
@import 'footer';

@import 'top-main';
@import 'top-lead';
@import 'top-cross-talk';
@import 'top-project';
@import 'top-member';
@import 'top-system';
@import 'top-recruit';

@import 'page-common';
@import 'page-system';
@import 'page-member';
@import 'page-project';
@import 'page-crosstalk';
@import 'page-ourbusiness';
@import 'member-list';*/
